* {
  margin: 0;
  padding: 0;
}
body {
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background: #0f2027; /* fallback for old browsers */
}
.container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
}
.container div {
  background-image: (white 0.1, white 1);
  padding-top: 20px;
  margin-top: 20px;

  box-shadow: 10px 0 10px 0 black;
  transition: 0.3s;
}
.container div:hover {
  background-color: #1a3642;
  transform: scale(1.05);
}
th,
td {
  color: white;
  font-family: "Roboto", sans-serif;
  width: 200px;
  height: 30px;
  border-bottom: 1px solid #cde3e7;
}
th {
  color: white;
  font-family: "Montserrat", sans-serif;
}
.table {
  justify-items: center;
  margin-left: 10px;
  margin-right: 10px;
}
table {
  border-spacing: 0px;
  border-collapse: collapse;
  text-align: center;
}
h1 {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
h1::before {
  content: "Specialist : ";
}
table tbody tr:nth-child(2) {
  background-color: #47a676;
}

button {
  background: bl;
}
form {
  text-align: center;
  background: #003849;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 10px;

  box-shadow: 0 10px 10px 0 black;
}
p {
  text-align: left;
  margin-left: 75px;
  color: white;
  font-family: "Roboto", sans-serif;
}
input {
  margin-bottom: 30px;
  background: #fff;
  width: 75%;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;

  outline: none;
  transition: 1s;
}
input:focus {
  box-shadow: 0 0 5px #28b672;
  background: #d9eeec;
}
button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  background: #28b672;

  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  color: white;
  transition: 0.3s;
  opacity: 0.8;
}
button:hover {
  opacity: 1;
  width: 220px;
}
#load-dummy {
  background-color: #df6722;
}
#new-spec-btn {
  background-color: #df6722;
}
.new-spec-form {
  opacity: 0;
}
#select-spec {
  cursor: pointer;

  margin-bottom: 30px;
  background: #fff;
  width: 75%;
  border: none;
  padding: 10px 20px;

  outline: none;
}
#next-user {
  opacity: 0;
}
