* {
  margin: 0;
  padding: 0;
}
body {
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background: #0f2027; /* fallback for old browsers */
}
.container {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */

  justify-content: center;
  align-items: center;
}
.container div {
}

th,
td {
  color: white;
  font-family: "Roboto", sans-serif;
  width: 200px;
  height: 30px;
  border-bottom: 1px solid #cde3e7;
}
th {
  color: white;
  font-family: "Montserrat", sans-serif;
}
.table {
  justify-items: center;
  margin-left: 10px;
  margin-right: 10px;
}
table {
  border-spacing: 0px;
  border-collapse: collapse;
  text-align: center;
}
h1 {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
h2 {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.current {
  background-color: #47a676;
}

button {
  background: bl;
}
form {
  text-align: center;
  background: #003849;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 10px;

  box-shadow: 0 10px 10px 0 black;
}
p {
  text-align: left;
  margin-left: 75px;
  color: white;
  font-family: "Roboto", sans-serif;
}
input {
  margin-bottom: 30px;
  background: #fff;
  width: 75%;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;

  outline: none;
  transition: 1s;
}
input:focus {
  box-shadow: 0 0 5px #28b672;
  background: #d9eeec;
}
button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  background: #28b672;

  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  color: white;
  transition: 0.3s;
  opacity: 0.8;
}
button:hover {
  opacity: 1;
  width: 220px;
}
#load-dummy {
  background-color: #df6722;
}
#new-spec-btn {
  background-color: #df6722;
}
.new-spec-form {
  opacity: 0;
}
#select-spec {
  cursor: pointer;

  margin-bottom: 30px;
  background: #fff;
  width: 75%;
  border: none;
  padding: 10px 20px;

  outline: none;
}
#next-user {
  opacity: 0;
}
.later {
  margin-top: 0px;
  width: 100px;
  height: 40px;
  background: #df6722;
}
.later:hover {
  opacity: 1;
  width: 140px;
}
a {
  font-family: "Montserrat", sans-serif;

  margin-top: 20px;
  width: 200px;
  height: 20px;
  background: #3628b6;
  text-align: center;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  color: white;
  transition: 0.3s;
  opacity: 0.8;
}
a:hover {
  opacity: 1;
  width: 220px;
}
.links {
  flex-wrap: wrap;
  display: flex;
  align-content: flex-end;

  justify-content: space-around;
}
.alert {
  background: #47a676;
  text-align: center;
  padding-top: 10px;
  width: 100vw;
  height: 30px;
  opacity: 0;
}
